body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
}

nav {
    background-color: #063b9c;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.hero {
    background-color: #2868e8;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
}

button {
    background-color: white;
    color: #063b9c;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.dashboard {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 200px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.card h2 {
    color: #063b9c;
    font-size: 30px;
}

.card p {
    font-size: 18px;
}